<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApplciation" ng-controller="myController">

<p>Parsed From JSON response:</p>

<ul>
	<li ng-repeat="x in myWelcome">{{x.result}}</li>
	<li ng-repeat="x in fullData.result">{{x.name}}</li>
</ul>

</div>

<script>
  var app = angular.module('myApplciation',[]);
  app.controller('myController', function($scope,$http) {
    $http.get("http://services.groupkt.com/country/get/iso2code/IN").then(function(response){
      $scope.myWelcome = response.data;
    });
    $http.get("http://services.groupkt.com/country/get/all").then(function(response){
      $scope.fullData = response.data;
    });
  });
  </script>

</body>
</html>